body{
  margin-left: 2%;
  margin-right: 2%;
  background-color: gray;
}

#wrap {
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  background-color: white;
}

.rubrik {
  font-family: sans-serif;
}

#image1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  clear: both;
}

#image2 {
  float: right;
  margin-left: 10px;
  margin-bottom: 1em;
}

#image3 {
  float: left;
  margin-right: 5px;
  margin-bottom: 1em;
}

#kursivp {
  font-style: italic;
}
